# Node.js
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/package-lock.json
backend/.env
backend/.DS_Store
backend/dist/
backend/build/
backend/.pnp
backend.pnp.js
backend/coverage/
backend/.nyc_output/
backend/.eslintcache

# Flutter/Dart
librarium/.dart_tool/
librarium/.packages
librarium/.flutter-plugins
librarium/.flutter-plugins-dependencies
librarium/.metadata
librarium/.idea/
librarium/.vscode/
librarium/build/
librarium/web/build/
librarium/ios/Flutter/Flutter.framework
librarium/ios/Flutter/Flutter.podspec
librarium/ios/ServiceDefinitions.json
librarium/ios/Runner.xcworkspace/
librarium/ios/Pods/
librarium/ios/Podfile.lock
librarium/ios/Flutter/App.framework
librarium/ios/Flutter/engine/
librarium/ios/Flutter/Generated.xcconfig
librarium/ios/Flutter/ephemeral/
librarium/android/.gradle/
librarium/android/app/build/
librarium/android/build/
librarium/android/local.properties
librarium/pubspec.lock
librarium/.DS_Store
Librarium/build/*

# Sensíveis ou dados
librarium/data/*
librarium/.env
librarium/.env.*

# Outros
*.class
*.pyc
*.swp
*.tmp
*.log
.DS_Store
*.iml
.vscode/
.idea/
.fvm/
coverage/
.nyc_output/
node_modules/
jspm_packages/
*.tgz
.yarn-integrity
